<div class="modal fade" id="BookingConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to book a place at this interval!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UnBookingConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <div class="modal-body">
               <p>Are you sure you want to un book this interval!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="MessageCard" style="font-weight:bolder;background-color:#eee;">
    <span class="close">&times;</span>
    <div class="container" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" unselectable="on" onselectstart="return false;" onmousedown="return false;">
        <h4><b>Note</b></h4>
        <p style="font-size:17px;"></p>
    </div>
</div>

<div class="MessageContainer" style="position: fixed;left: 740px;top: 200px;display:none;z-index:1002;">
    <div class="dialogue">
        <div class="titlebar"></div>
        <div class="body" style="height:114px;">
            <img class="icon" src="http://cnet4.cbsistatic.com/hub/i/r/2013/02/04/5e54fcb6-6de8-11e3-913e-14feb5ca9861/resize/270xauto/5dc66f7513da9d66450373bebbe2fe42/ProblemReporterIconX.png" />
            <div class="warning">successfully</div>
            <div class="hint">Congratulations the new record added successfully.</div>
            <div class="actions">
                @*<input class="btn" type="button" value="Cancel" />*@
                <input class="btn confirm" type="button" value="Confirm" />
            </div>
        </div>
    </div>
</div>

<div id="deactivateBackground"></div>
