@{
    Layout = null;
}

<table align="center" style="width:100%;margin-top:20px;">

    <tr>
        <th class="table-header">Time</th>
        <th class="table-header">Saturday</th>
        <th class="table-header">Sunday</th>
        <th class="table-header">Monday</th>
        <th class="table-header">Tuesday</th>
        <th class="table-header">Wednesday</th>
        <th class="table-header">Thrusday</th>
        <th class="table-header">Friday</th>
    </tr>


    <tr>
        <th class="table-header">09:00 - 10:00 AM</th>

        <td class="table-data" data-day="1" data-period="1"></td>
        <td class="table-data" data-day="2" data-period="1"></td>
        <td class="table-data" data-day="3" data-period="1"></td>
        <td class="table-data" data-day="4" data-period="1"></td>
        <td class="table-data" data-day="5" data-period="1"></td>
        <td class="table-data" data-day="6" data-period="1"></td>
        <td class="table-data" data-day="7" data-period="1"></td>
    </tr>

    <tr>
        <th class="table-header">10:00 - 11:00 AM</th>

        <td class="table-data" data-day="1" data-period="2"></td>
        <td class="table-data" data-day="2" data-period="2"></td>
        <td class="table-data" data-day="3" data-period="2"></td>
        <td class="table-data" data-day="4" data-period="2"></td>
        <td class="table-data" data-day="5" data-period="2"></td>
        <td class="table-data" data-day="6" data-period="2"></td>
        <td class="table-data" data-day="7" data-period="2"></td>
    </tr>

    <tr>
        <th class="table-header">11:00 - 12:00 AM</th>

        <td class="table-data" data-day="1" data-period="3"></td>
        <td class="table-data" data-day="2" data-period="3"></td>
        <td class="table-data" data-day="3" data-period="3"></td>
        <td class="table-data" data-day="4" data-period="3"></td>
        <td class="table-data" data-day="5" data-period="3"></td>
        <td class="table-data" data-day="6" data-period="3"></td>
        <td class="table-data" data-day="7" data-period="3"></td>

    </tr>

    <tr>
        <th class="table-header">12:00 - 01:00 PM</th>

        <td class="table-data" data-day="1" data-period="4"></td>
        <td class="table-data" data-day="2" data-period="4"></td>
        <td class="table-data" data-day="3" data-period="4"></td>
        <td class="table-data" data-day="4" data-period="4"></td>
        <td class="table-data" data-day="5" data-period="4"></td>
        <td class="table-data" data-day="6" data-period="4"></td>
        <td class="table-data" data-day="7" data-period="4"></td>
    </tr>

    <tr>
        <th class="table-header">01:00 - 02:00 PM</th>

        <td class="table-data" data-day="1" data-period="5"></td>
        <td class="table-data" data-day="2" data-period="5"></td>
        <td class="table-data" data-day="3" data-period="5"></td>
        <td class="table-data" data-day="4" data-period="5"></td>
        <td class="table-data" data-day="5" data-period="5"></td>
        <td class="table-data" data-day="6" data-period="5"></td>
        <td class="table-data" data-day="7" data-period="5"></td>
    </tr>

    <tr>
        <th class="table-header">02:00 - 03:00 PM</th>

        <td class="table-data" data-day="1" data-period="6"></td>
        <td class="table-data" data-day="2" data-period="6"></td>
        <td class="table-data" data-day="3" data-period="6"></td>
        <td class="table-data" data-day="4" data-period="6"></td>
        <td class="table-data" data-day="5" data-period="6"></td>
        <td class="table-data" data-day="6" data-period="6"></td>
        <td class="table-data" data-day="7" data-period="6"></td>
    </tr>

    <tr>
        <th class="table-header">03:00 - 04:00 PM</th>

        <td class="table-data" data-day="1" data-period="7"></td>
        <td class="table-data" data-day="2" data-period="7"></td>
        <td class="table-data" data-day="3" data-period="7"></td>
        <td class="table-data" data-day="4" data-period="7"></td>
        <td class="table-data" data-day="5" data-period="7"></td>
        <td class="table-data" data-day="6" data-period="7"></td>
        <td class="table-data" data-day="7" data-period="7"></td>
    </tr>
</table>
