<div class="MessageContainer" style="position: fixed;left: 740px;top: 200px;display:none;z-index:12;">
    <div class="dialogue">
        <div class="titlebar"></div>
        <div class="body" style="height:114px;">
            <img class="icon" src="http://cnet4.cbsistatic.com/hub/i/r/2013/02/04/5e54fcb6-6de8-11e3-913e-14feb5ca9861/resize/270xauto/5dc66f7513da9d66450373bebbe2fe42/ProblemReporterIconX.png" />
            <div class="warning">successfully</div>
            <div class="hint">The new record added successfully.</div>
            <div class="actions">
                @*<input class="btn" type="button" value="Cancel" />*@
                <input class="btn confirm" type="button" value="Confirm" />
            </div>
        </div>
    </div>
</div>

<div id="deactivateBackground"></div>
