table.ViewReservers {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

table.ViewReservers th,table.ViewReservers td {
    text-align: left;
    padding: 16px;
}

table.ViewReservers tr:nth-child(even) {
    background-color: #f2f2f2
}